* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

@keyframes boxShadow {

    0% {
        box-shadow: 5px 5px 10px rgba(0, 49, 135, 1), -5px -5px 10px rgb(244, 67, 63);
    }

    50% {
        box-shadow: 5px 5px 10px rgb(244, 67, 63), -5px -5px 10px rgba(0, 49, 135, 1);
    }

    100% {
        box-shadow: 5px 5px 10px rgba(0, 49, 135, 1), -5px -5px 10px rgb(244, 67, 63);
    }

}

.album{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    .conteiner_cara1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .cara1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 500px;
            width: 300px;
            border: 1px solid rgba(255, 255, 255, 0.801);
            animation: 5s boxShadow linear infinite;
            border-radius: 20px;
            overflow: hidden;
    
            .header {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.658);
                width: 100%;
                height: 12%;
    
                .ataque {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    width: 50%;
    
                    span {
                        font-size: 20px;
                        color: rgb(255, 255, 255);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
    
                    .nivel_ataque {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        gap: 10px;
    
                        img {
                            height: 20px;
                        }
    
                        span {
                            font-size: 15px;
                            color: rgb(244, 67, 63);
                        }
                    }
                }
    
                .logo {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 30%;
    
                    img {
                        height: 50px;
                    }
                }
    
                .num_tarjeta {
                    position: relative;
                    height: 100%;
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .num_tarjeta {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        font-size: 8px;
                        color: rgb(255, 255, 255);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
    
                    .id_card {
                        position: relative;
                        width: 100%;
                        text-align: center;
                        font-size: 28px;
                        color: rgb(244, 67, 63);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
                }
            }
    
            .imagen_principal {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70%;
                width: 100%;
    
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .nombre_personaje {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
    
                span {
                    text-align: center;
                    font-size: 23px;
                    color: rgb(255, 255, 255);
                    font-family: 'Orbitron', sans-serif;
                    font-family: 900;
                    letter-spacing: 1px;
                    text-shadow: 2px 2px 10px rgb(48, 187, 242),2px 2px 15px rgb(48, 187, 242),2px 2px 20px rgb(48, 187, 242);
                }
            }
    
            .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-top: 1px solid rgba(255, 255, 255, 0.15);
                margin-top: 10px;
                padding: 5px 0px;
    
                .nivel {
                    position: relative;
                    height: 100%;
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-right: 1px solid rgba(255, 255, 255, 0.404);
    
                    span {
                        text-align: center;
                        font-size: 14px;
                        color: rgb(255, 255, 255);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
    
                    .nivel_level {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
    
                        ion-icon {
                            color: rgb(244, 67, 63);
                            font-size: 15px;
                        }
    
                        span {
                            font-size: 15px;
                            color: rgb(244, 67, 63);
                        }
                    }
                }
    
                .defensa {
                    position: relative;
                    height: 100%;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-right: 1px solid rgba(255, 255, 255, 0.15);
    
                    span {
                        text-align: center;
                        font-size: 14px;
                        color: rgb(255, 255, 255);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
    
                    .defensa_level {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
    
                        ion-icon {
                            color: rgb(244, 67, 63);
                            font-size: 15px;
                        }
    
                        span {
                            font-size: 15px;
                            color: rgb(244, 67, 63);
                        }
                    }
                }
    
                .poderes {
                    position: relative;
                    height: 100%;
                    width: 35%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    span {
                        text-align: center;
                        font-size: 14px;
                        color: rgb(255, 255, 255);
                        font-family: 'Bruno Ace';
                        letter-spacing: 1px;
                    }
    
                    .poderes_level {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        
                        ion-icon {
                            font-size: 15px;
                            color: rgb(199, 21, 21);
                            font-size: 15px;
                        }
    
                    }
                }
            }
        }
    }


}

